<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.godotengine.plugin.arcore">

    <uses-permission android:name="android.permission.CAMERA"/>

    <queries>
        <package android:name="com.google.ar.core" />
    </queries>

    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="true" />

    <application>

        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />

        <meta-data
            android:name="org.godotengine.plugin.v1.ARCorePlugin"
            android:value="org.godotengine.plugin.arcore.ARCorePlugin" />

        <activity android:name="org.godotengine.plugin.arcore.ARCoreSetupActivity"
            android:label="@string/godot_arcore_setup_activity_label"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:screenOrientation="landscape"/>

    </application>
</manifest>
